*{
    padding: 0;
    margin: 0;
}

body{
    height: 400vh;
}
/* -------------------------- */
/* inicio barra de navegacion */
/* -------------------------- */

/*contenedor del menu de navegacion*/
header{
    z-index: 100; /*para que este sobre todas las capas de la pagina*/
    position: fixed;/*para que este encima del otro contenedor*/
    width: 100%; /* para que ocupe todo el ancho porque con fixed se hace pequeño*/
    height: 80px;
    background-color: rgba(0, 0, 0, 0.349);
    display: flex; /*hace que se pongan uno a lado del otro*/
    align-items: center; /* hace que se centren hacia lo alto*/
    justify-content: space-between;/*hace que el menu y el logo se separen hasta los extremos*/
    padding: 0px 35px; /*para que no esten pegados a los laterales*/
}

/*cambiar el color del menu de navegacion cuando se haya hecho scroll*/
header.sticky{
    background-color: black;
}

/*imagen menu de navegacion*/
header img{
    height: 32px;
}

/* contenedor de todos los enlaces del menu de navecacion*/
header ul{
    align-content: end;
    padding-right: 50px;
    /* equivalente */
    /*position: relative;
    display: flex;
    justify-content: center;
    align-items: center;*/
}
/*contenedor de cada enlaces de menu de navegacion*/
header ul li{
    display: inline;
    /* equivalente */
    /*position: relative;
    list-style: none;*/
}

/*enlaces del menu de navegacion*/
header ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 0 10px;
    font-family: Arial, Helvetica, sans-serif;
}
/* fin barra de navegacion */


/* ------------------- */
/* inicio presentacion */
/* ------------------- */
.cInicial{
    height: 100vh;
    width: 100%;
}
/* contenedor del texto de la presencion */
.cPresentacion{
    /*position: fixed;*/
    z-index:10;
    height: 100%;
    width: 100%;
    align-content: center;
    text-align: center;
    position: absolute;
    /*background-color: rgba(0, 0, 0, 0.555);*/
}

/* texto arriba del logo*/
.t1{
    font-family: Arial, Helvetica, sans-serif;
    color:#333333;
    padding-bottom: 1em;
}
/* el logo */
.cInicial div img{
    height: 63px;
    width: 350px;
}
/* texto debajo de logo*/
.t2{
    padding-top: 0.8em;
    font-size: 10.5px;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}

/* texto con el numero de descargas (es el contendeor)*/
.t3{
    padding-top: 1em;
}

/* numero de descargas*/
.sTnumero{
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    font-size: 30.5px;
    font-weight: bolder;
}
/* textos del numero de descargas*/
.sT1{
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    font-size: 10.5px;
}

/* video de fondo de la presentacion*/
.v{
    width: 100%;
    border: none;
    position: fixed;
    z-index: -1;
    /*
    background-clip: url(imagenes/fa_main_movie2.mp4);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    */
}

/* boton contenedor de descargar*/
.bContenedor{
    padding-top: 1em;
}
/* bonton descargha*/
.bDescarga{

    border: none;
    color: white;
    background-color: #FE7313;
    font-family: Arial, Helvetica, sans-serif;
    width: 320px;
    height: 69.13px;
    border-radius: 5em;
    font-size: 14px;
    font-weight: bold;
}
.bDescarga span{ /*dentro del boton dice "descarcar" en un tamaño mas grande*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 24px;
}

.bIdioma{
    border: none;
    color: white;
    background-color: #FE7313;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px 10px;
    width: auto;
    height: auto;
    font-size: 10px;
    border-radius: 5px;
}

.lBotones{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 10px;
    padding-top: 2em;
}

/* fin presentacion */


/* --------------- */
/* inicio descarga */
/* --------------- */

/*general*/
.cDescarga{
    height: 200vh;
    width: 100%;
    align-content: center;/* centrado por la altura */
    text-align: center;/* centrador por el ancho*/
    background-image: url("imagenes/fondoColores.png");
    background-size: cover;
}

/*texto1*/
.cDescarga h1{
    padding-bottom: 1em; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 38px;

    color: #000;
    background: #fff;
    mix-blend-mode: multiply;
    position: relative;

}
.cDescarga h1::before{
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(75deg,blue, rebeccapurple,rgb(230, 144, 158)  , yellow,yellow);
    mix-blend-mode: screen; /*<-- atento a esta linea*/
    position: absolute;
    top: 0;
    left: 0;

}

/*carrusel*/
.car{
    padding: 0 11em;
}

.car img{
    /*max-width: 965px;*/
    /*min-width: 480px;*/
    width: 100%;

}

.iC{
    width: 120px;
    height: 120px;
}

/* parrafo debajo de carrusel*/
.pDes{

    padding: 4em 4em 0em 4em;
}

.pDes p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
/* iconos */
.contenedor{
    padding: 3em 80px 0px 80px;
    background-color: aliceblue;
    display: grid;
    grid-template-areas: 'c1 c2 c3 c4';
    grid-template-columns: 1fr 1fr 1fr 1fr;   
    grid-template-rows: 1fr;  
    text-align: center; 
}
.contenedor div p{
    padding-top: 0.5em;

}
.contenedor div p span{
    font-size: 32px;
}
.caja1{
    grid-area: c1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
}
.caja2{
    grid-area: c2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
}
.caja3{

    grid-area: c3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
}
.caja4{
    grid-area: c4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
}

/* descarga boton*/
.bContenedor2{
    padding-top: 3em;
}
/* fin descarga */

/* ------------------ */
/* inicio descripcion */
/* ------------------ */

.cDescripcion{
    text-align: center;
    background-color:white;
}

.tP{
    padding: 5em 0em 5em 0;
    height: 100%;
}
.tP h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;

}
.tP h1 span{
    color: #000;
    background: #fff;
    mix-blend-mode: multiply;
    position: relative;
}
.tP h1 span::before{
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(75deg,blue, rebeccapurple,rgb(230, 144, 158)  ,yellow);
    mix-blend-mode: screen; /*<-- atento a esta linea*/
    position: absolute;
    top: 0;
    left: 0;
}
.gridContenedorDescripcion{
    display: grid;
    grid-template-areas:'gg1 gg2'
                        'gg3 gg4'
                        'gg5 gg6';
    grid-template-columns:1fr 1fr;   
    grid-template-rows: 1fr;  
    text-align: center; 
    align-items: center;
    row-gap: 2em; /*espacio entre filas solamente*/
}
/* imagen y contenedor 1*/
.g1{
    grid-area: gg1;
    width: 100%;
}

.g1 img {
    width: 100%;
}
/* imagen y contenedor 2*/
.g2{
    grid-area: gg2;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: left;
    align-content: center;
    padding: 0 2em;
}
.g2 p{
    padding-top: 1em;
}
/* imagen y contenedor 3*/
.g3{
    grid-area: gg3;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: left;
    align-content: center;
    padding: 0 2em;
}
.g3 p{
    padding-top: 1em;
}
/* imagen y contenedor 4*/
.g4{
    width: 100%;
    grid-area: gg4;
}
.g4 img {
    width: 100%;
}
/* imagen y contenedor 5*/
.g5{
    width: 100%;
    grid-area: gg5;
}
.g5 img {
    width: 100%;
}
/* imagen y contenedor 6*/
.g6{
    grid-area: gg6;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: left;
    align-content: center;
    padding: 0 2em;
}
.g6 p{
    padding-top: 1em;
}

.gridTexturasCorrecion{
    padding: 2em 15em 2em 15em;
    display: grid;
    grid-template-areas:'aa bb';
    grid-template-columns: 1fr 1fr;   
    grid-template-rows: 1fr;  
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2em;
}

.a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    grid-area: aa;
    height: 100%;
}

.b{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    height: 100%;
    grid-area: bb;
    
}
.xImg{
    width: 100%
}
.gTexturasTexto h2{
    padding: 1em 0;
    
}

.gTexturasTexto{
    text-align: left;
}

.bContenedor4{
    padding: 5em 0;
}
/* fin descripcion */

/* ---------------- */
/* inicio funciones */
/* ---------------- */
.cVariedadDeFunciones{
    text-align: center; 
    align-items: center;
    background-color: #333333;
}

.cVariedadDeFunciones h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 40px;
    padding: 2em 0;
}

.gridFunciones{
    display: grid;
    grid-template-areas:'gg1  gg2  gg3  gg4'
                        'gg5  gg6  gg7  gg8'
                        'gg9  gg10 gg11 gg12'
                        'gg13 gg14 gg15 gg16'
                        'gg17 gg18 gg18 gg18';
    grid-template-columns: 1fr 1fr 1fr 1fr;   
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;  
    text-align: center; 
    align-items: center;
    gap: 2em;
    padding: 0 4em;
}

.gridFunciones div img{
    width: 100%;
}

.gridFunciones div p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
}

/* fin funciones */

/* -------------------- */
/* inicio rienda suelta */
/* -------------------- */
.cDaRiendaSuelta{
    /*background-color: yellowgreen;*/
    height: 100vh;
    background-image: url(imagenes/fa_movie_img.jpg);
    background-attachment: fixed;
}
.cDaRiendaSuelta div{
    height: 100%;
    width: 100%;
    text-align: center;
    align-content: center;
    position: absolute;

    
}
.cDaRiendaSuelta div h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #000000;
    padding-bottom: 2em;
}



/* fin rienda suelta */


/* --------------- */
/* inicio alpacaSE */
/* --------------- */
.cFireAlpacaSE{
    height: 100vh;
    position: relative;

}

.infoo{
    align-content: center;
    position: absolute;
    z-index: 15;
    width: 40%;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.753);
    left: 2em;
    top: 2em;
    bottom: 2em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
}

.infoo div{
    padding: 0 2em;
   
}
.infoo div p{
    font-size: 15px;
    padding-bottom: 3em;

}
.c{
    text-align: center;

}

.c button{
    width: 300px;
    height: 50px;
    border-style: solid;
    border-color: rgb(6, 98, 155);
    background: #0000005e;
    border-radius: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
   
}
.infoo img{
    width: 90%;
    padding-bottom: 2em;
}

.infoo h2{
    padding-bottom: 0.5em;
}
.cFireAlpacaSE video{
    position: absolute;
    width: 100%;

}
/* fin alpacaSE */

/* ------------- */
/* inicio footer */
/* ------------- */

footer{
    height: 70vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333333;
    font-size: 15px;
    color: white;
    text-align: center;/*ancho*/
    align-content: center;/*alto*/
}

footer img{
    width: 18em;
    padding-top: 2em;
}

footer ul{
    padding-bottom: 3em;
}

.p1 ,.p2 {
    padding-bottom: 1em;
}
.p1{
    text-decoration: underline;
    color: #FE7313;
    font-weight: bold;
}

.p2{
    font-size: 11px;
}
.p3{
    text-decoration: underline;
    color: #FE7313;
    padding-bottom: 2em;
}

.p4{
    font-size: 11px;
}
/* fin footer */
